body{
background: White;
margin-top: 2px;
margin-left: 2px;
}

header{
margin-left: 2px;
}

h1{
font-family: segoe script;
font-size: 3.5em;
font-weight: bold;
color: DodgerBlue;
}

h6{
font-family: segoe script;
font-size: 0.7em;
font-weight: bold;
}

p{
font-family: comic sans ms;
font-size: 1.2em;
color: DarkSlateGray;
}

.center{
  text-align: center;
}

.right {
  text-align: right;
}